<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html xmlns="http://www.w3.org/1999/xhtml">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"/>
    <title>User page</title>
</head>
<body>
<header th:fragment="header">
    <div class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="navbar-brand">
                <strong  sec:authentication="name"></strong>
                with roles:
                <span  sec:authorize="hasAuthority('ADMIN')">ADMIN</span>
                <span  sec:authorize="hasAuthority('USER')">USER</span>
            </div>
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<div class="container-fluid">
    <br/>
    <div class="row">
        <div class="col-2">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
                   aria-controls="v-pills-home" aria-selected="true">User</a>
            </div>
        </div>
        <div class="col-10">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                     aria-labelledby="v-pills-home-tab">
                    <h1>
                        User information-page
                    </h1>
                    <div class="card">
                        <h4 class="card-header">
                            About user
                        </h4>
                        <div class="card-body">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Age</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:object="${user}">
                                    <td th:text="*{getId()}">ID</td>
                                    <td th:text="*{getFirstName()}">First Name</td>
                                    <td th:text="*{getLastName()}">Last Name</td>
                                    <td th:text="*{getAge()}">Age</td>
                                    <td th:text="*{getUsername()}">Email</td>
                                    <td>
                                        <div th:each="role : *{getAuthorities()}">
                                            <span th:utext="${role.getAuthority()}">Role</span>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>

<!--<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Inform</title>
</head>
<body>
<table>
    <tr>
        <th>id</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Возраст</th>
        <th>Логин</th>
        <th>Пароль</th>
        <th>Роли</th>
    </tr>
    <tr th:object="${user}">
        <td th:text="*{getId()}"></td>
        <td th:text="*{getFirstName()}"></td>
        <td th:text="*{getLastName()}"></td>
        <td th:text="*{getAge()}"></td>
        <td th:text="*{getUsername()}"></td>
        <td th:text="*{getPassword()}"></td>
        <td>
            <div th:each="role : *{getAuthorities()}">
                <span th:utext="${role.getAuthority()}"></span>
            </div>
        </td>
    </tr>
</table>
<div th:insert="admin :: logout"></div>
</body>
</html>-->
